	<!-- [ navigation menu ] start -->
	<nav class="pc-sidebar ">
		<div class="navbar-wrapper">
			<div class="m-header">
				<a href="index.html" class="b-brand">
					<!-- ========  change your logo here ============ -->
					<img src="/static/assets/images/logo-topaz-.png" alt="" class="logo logo-lg">
					<img src="/static/assets/images/favicon.ico" alt="" class="logo logo-sm">
				</a>
			</div>
			<div class="navbar-content">
				<ul class="pc-navbar">
					<li class="pc-item pc-caption">
						<label>Navigation</label>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">home</i></span><span class="pc-mtext">Dashboard</span></a>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">check_circle</i></span><span class="pc-mtext">Coretest</span></a>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">dynamic_form</i></span><span class="pc-mtext">Topaz server</span></a>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">description</i></span><span class="pc-mtext">Create feature</span></a>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">memory</i></span><span class="pc-mtext">Commits</span></a>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">code</i></span><span class="pc-mtext">Apis</span></a>
					</li>
					<li class="pc-item">
						<a href="/" class="pc-link "><span class="pc-micon"><i class="material-icons-two-tone">download</i></span><span class="pc-mtext">Reports</span></a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
	<!-- [ navigation menu ] end -->
