{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pc-container">
        <div class="pcoded-content">
            <!-- [ breadcrumb ] start -->
            <!-- [ breadcrumb ] end -->
            <!-- [ Main Content ] start -->
            <div class="row">
                <!-- customer-section start -->
                <div class="col-xl-6 col-md-12">
                    <div class="card">
                        <div class="card-body">
                            <h6>Test Result</h6>
                            <div class="row d-flex justify-content-center align-items-center">
                                <div class="col">
                                    <div id="satisfaction-chart"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="card prod-p-card background-pattern">
                                <div class="card-body">
                                    <div class="row align-items-center m-b-0">
                                        <div class="col">
                                            <h6 class="m-b-5">Total test cases</h6>
                                            <h3 class="m-b-0">202</h3>
                                        </div>
                                        <div class="col-auto">
                                            <i class="material-icons-two-tone text-primary">done</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card prod-p-card bg-primary background-pattern-white">
                                <div class="card-body">
                                    <div class="row align-items-center m-b-0">
                                        <div class="col">
                                            <h6 class="m-b-5 text-white">Passed tests</h6>
                                            <h3 class="m-b-0 text-white">200</h3>
                                        </div>
                                        <div class="col-auto">
                                            <i class="material-icons-two-tone text-white">check_circle</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card prod-p-card bg-primary background-pattern-white">
                                <div class="card-body">
                                    <div class="row align-items-center m-b-0">
                                        <div class="col">
                                            <h6 class="m-b-5 text-white">Failed tests</h6>
                                            <h3 class="m-b-0 text-white">1</h3>
                                        </div>
                                        <div class="col-auto">
                                            <i class="material-icons-two-tone text-white">error</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="card prod-p-card background-pattern">
                                <div class="card-body">
                                    <div class="row align-items-center m-b-0">
                                        <div class="col">
                                            <h6 class="m-b-5">Broken tests</h6>
                                            <h3 class="m-b-0">1</h3>
                                        </div>
                                        <div class="col-auto">
                                            <i class="material-icons-two-tone text-primary">warning</i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- customer-section end -->
            </div>
            <!-- [ Main Content ] end -->
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

    <script src="/static/assets/js/plugins/apexcharts.min.js"></script>
    <script src="/static/assets/js/pages/dashboard-sale.js"></script>

{% endblock javascripts %}
